* {
    box-sizing: border-box;
}

.wrap {
    height: 100vh;
    width: 100%;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-form {
    display: flex;
    flex-direction: column;
}

.hobbies {
    text-align: center;
    margin-bottom: 30px;
}

.hobbies-inner {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.example-form-field {
    padding: 5px;
}

