<div class="wrap">
    <form [formGroup]="pageForm" class="page-form">

        <mat-form-field class="example-form-field">
            <mat-label>Yor Name</mat-label>
            <input matInput type="text" formControlName="userName" required>
        </mat-form-field>

        <mat-form-field class="example-form-field">
            <mat-label>Your Last Name</mat-label>
            <input matInput type="text" formControlName="userLastName" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Choose your date of birth</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" required>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Choose yours framework</mat-label>
            <mat-select formControlName="selectFramework" required>
              <mat-option *ngFor="let framework of frameworks" [value]="framework.value">
                {{framework.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" *ngIf="this.versionFramework.length > 0">
            <mat-label>Сhoose your framework version</mat-label>
            <mat-select formControlName="selectVersion" required> 
              <mat-option *ngFor="let itemVersion of this.versionFramework" [value]="itemVersion">
                {{itemVersion}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

          <div class="hobbies"> 
            <p>Your hobbies</p>
            <div class="hobbies-inner" formArrayName="hobbies">
              <li  *ngFor="let hobbie of hobbies.controls; let i = index">
                <input type="text" [formControlName]='i'>
              </li>
              <!-- <input matInput type="text" required [formControlName]="index" class="hobbies-input"> -->
              <!-- <input matInput type="text" required formControlName="hobbiesValue" class="hobbies-input"> -->
            </div>
          </div>





          <!-- <mat-form-field>
            <mat-label>Your hobbies</mat-label>
            <input matInput type="text" required formControlName="userName" class="hobbies-input">
            <input matInput type="text" required formControlName="userName" class="hobbies-input">
          </mat-form-field> -->




          <!-- <mat-form-field class="example-form-field"> -->
            <!-- <mat-label>Your hobbies</mat-label> -->
            <!-- <input matInput type="text" formControlName="userName" required> -->
            <!-- <input matInput type="text" formControlName="userName" required> -->
         <!-- </mat-form-field> -->

          <!-- <div class="selected-framework">
            <p *ngFor="let itemFrameork of resultVersion">
              {{itemFrameork}}
            </p>
          </div> -->

          <button type="submit" (click)="sendForm()">Отправить</button>
          
          
          
    
    </form>


</div>